{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Abdur Rahim - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of John Elder."/>
<meta charset="UTF-8"> 


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/r.jpg' %}" alt="John Elder" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Abdur Rahim</h1>
			<h2 class="quickFade delayThree">Python Full Stack Developer </h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>abdur.rahimcs50@gmail.com.</a></li>
				<li>Tazhat,Mahiganj,Rangpur.</a></li>
				<li>Dhaka,Bangladesh.</a></li>
				<li>Phone:+8801610024750</li>
			</ul>

			 <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.facebook.com/abdurrahimcs50">
                        <img src="{% static 'images/facebook.png' %}" width="32" height="32" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/abdurrahimcs50">
                        <img src="{% static 'images/github.png' %}" width="32" height="32" alt="">
                    </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/abdurrahimcs50">
                        <img src="{% static 'images/Linkedin.png' %}" width="32" height="32" alt="">
                    </a>
                </li>      
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/abdurrahimcs50">
                        <img src="{% static 'images/instagram.png' %}" width="32" height="32" alt="">
                    </a>
                </li>
                   <li class="nav-item">
                    <a class="nav-link" href="https://join.skype.com/invite/Vxo9kkWla6bo">
                        <img src="{% static 'images/skype.png' %}" width="32" height="32" alt="">
                    </a>
                </li>
            </ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>My Name Is Abdur Rahim I Am a Computer Science for Web Programming Student in Harvardx(www.edx.com).I Born And brought up in Bangladesh.I have total 5 years of work experience and presently I am working as a Junior Python Backend Developer in MRGLOABALIT SERVICES.I want to become Freelancer One day And in my free time I love to play Cricket And I love to Read Book.This is all about me.  </p>
				</div>
			</article>
			
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>PROFESSIONAL SUMMARY:</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<ul>
						<li>Over 3+ years of experience as a Web/Application Developer and coding with analytical Programming using Python, Django.</li><br>
						<li>Good experience in developing web applications implementing MVT/MVC architecture using Django, Flask, Webapp2 and spring web application frameworks</li><br>
						<li>Experienced in MVC frameworks like Django, Angular JS, Java Script, JQuery and Node.js.</li><br>
						<li>Experienced in web applications development using Django/Python, Flask/Python and Node.js, Angular.js, DOJO, JQuery while using HTML/CSS/JS for server-side rendered applications.</li><br>
						<li>Using Django evolution and manual SQL modifications was able to modify Django models while retaining all data, while site was in production mode.
						</li><br>
						<li>Experienced in monitoring, developing and transforming data using SQL Server Integration Service (SSIS) and SQL Server Analysis Service (SSAS).</li><br>
					
						<li>Developed project using Django, Oracle SQL, Angular, JavaScript, HTML5, CSS3 and BootStrap</li><br>
					
						<li>Developed views and templates with Python and Django's view controller and templating language to create a user-friendly Website interface.</li><br>
					
						<li>Experienced with databases using ORMs/DOMs for integrating with MySQL, Postgres, Neo4J, MongoDB, and Cassandra SQLite. Also, experienced with writing custom queries through database connectors.</li><br>
						<li>Expertise in establishing database connections for Python by configuring packages like MySQL-Python</li><br>
						<li>Successfully migrated the Django database from SQLite to MySQL to PostgreSQL with complete data integrity.</li><br>
						
						<li>Extensive experience in deploying, managing and developing MongoDB clusters</li><br>
						<li>Good experience in Hadoop technologies like Apache Spark, Scala, and SparkSQL</li><br>
						<li>Good Knowledge of web services using SOAP and REST protocols.</li><br>
						<li>Good knowledge of version control software - CVS, GitHub</li><br>
						<li>Experience in working with deployment tools like Microsoft Azure, Heroku and Jenkins.</li><br>
						<li>Experience of Build & Deployment phase and usage of Continuous Integration (CI/CD) tools, build configuration, change history for releases, Maintenance of build system, automation & smoke test processes, managing, configuring, and maintaining source control management systems.</li><br>
						<li>Good experience in Shell Scripting, SQL Server, UNIX and Linux, Open stock and Expertise python scripting with focus on DevOps tools, CI/CD and AWS Cloud Architecture.</li><br>
						<li>Deployed production site using Apache 2.0 with mod python.</li><br>
						<li>Experienced in Agile Methodologies, Scrum stories and sprints experience in a Python based environment, along with data analytics, data wrangling and Excel data extracts.</li><br>
						<li>Excellent experience with Python development under Linux OS (Debian, Ubuntu, CentOS SUSE Linux, Red Hat Linux, Fedora).</li><br>
					</ul>
			
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>

			<div class="sectionTitle">
				<h1>Professional Certifications</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Python Bootcamp 2020 Build 15 working Applications and Games</h2>
					<p class="subDetails"><a href="https://www.udemy.com/certificate/UC-5ed234ab-57dc-4254-97c1-1efc8b540dc9/" target="new">Click Here For See Certificate</a></p>
					<p>Learn complete python with basics, data science, data visualisation, desktop graphical applications and python for web. </p>
					
				</article>
				<br/>
				<article>
					<h2>Django & Python: complete BUNDLE + Django real project 2020</h2>
					<p class="subDetails"><a href="https://www.udemy.com/certificate/UC-835810e0-3314-44b8-aa56-f7c14f8b3a7d/" target="new">Click Here For See Certificate</a></p>
					<p>Django and python Bundle: from learning all basic of python to advanced python to UI Design TKINTER and then Django. </p>
					
				</article>
				<br/>
				<article>
					<h2>Python Hero: Full Course with Projects</h2>
					<p class="subDetails"><a href="https://www.udemy.com/certificate/UC-047c865f-8e6d-4459-89c9-bc66e7860156/" target="new">Click Here For See Certificate</a></p>
					<p>Most Comprehensive Python 3 Course to bring you at expert level from Zero. </p>
				</article>
				<br/>
				<article>
					<h2>Python : Comprehensive Bootcamp (Beginner To Professional)</h2>
					<p class="subDetails"><a href="https://www.udemy.com/certificate/UC-d19e24d8-b874-4c0a-9226-129e79539998/" target="new">Click Here For See Certificate</a></p>
					<p>Learn Python from scratch to confidently building applications.</p>
				</article>
				<br/>
				<article>
					<h2>Build Data Visualizations with D3.js & Firebase</h2>
					<p class="subDetails"><a href="https://www.udemy.com/certificate/UC-bc50c464-7424-4a61-8fc8-826564abad5c/" target="new">Click Here For See Certificate</a></p>
					<p>Learn how to use D3 (v5) & Firebase (Firestore) to create dynamic SVG data visualizations. Bar charts, pie charts. </p>
				</article>
				<br/>
				<article>
					<h2>Full Stack Web Developer with AI & ML Integration</h2>
					<p class="subDetails"><a href="https://www.udemy.com/certificate/UC-5871465b-24da-4a14-bbeb-b9e02016baef/" target="new">Click Here For See Certificate</a></p>
					<p>Full Stack Web Development Course with Machine Learning and Artificial Intelligence Integration using Python and Django. </p>
				</article>
				<br/>
				<article>
					<h2>Top Python and Django Web Development Bundle!</h2>
					<p class="subDetails"><a href="https://www.udemy.com/certificate/UC-de77d487-1a2a-42c8-b871-5ee75e55403c/" target="new">Click Here For See Certificate</a></p>
					<p>Learn Python Programming and The Django Web Framework In One Awesome Bundle! Learn How To Build Websites Fast!. </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>
		<section>
			<div class="sectionTitle">
				<h1>TECHNICAL SKILLS:</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Operating systems: Windows, Mac, Fedora Linux, Red hat Linux.</li><br>
					<li>IDE s: PyCharm, Eclipse, NetBeans, MS Visual Studio, PyDev, RIDE.</li><br>
					<li>Version Control: VSS, CVS, SVN, GitHub, Git.</li><br>
					<li>Primary Languages: Python,C, C++.</li><br>
					<li>Frameworks: Bootstrap, Django, Node.JS, Flask, PyJamas, Pyramid, Hibernate.</li><br>
					<li>Web Technologies: HTML, CSS, DHTML, XML, Java Script</li><br>
					<li>SDLC Methods: SCRUM, Agile</li><br>
					<li>Testing Frameworks: Junit, TestNG, ROBOT, JXL, JTest.</li><br>
					<li>Bug Tracking Tools: Axosoft, JIRA, Bugzilla, Rational Clear-quest.</li><br>
					<li>Deployment tools: MS Azure, Heroku, Amazon Web Services (EC2, S3, EBS, ELB, SES).</li><br>
					<li>Python Libraries: Beautiful Soup, numpy, scipy, matplotlib, python-twitter, Pandas data frame, urllib2.</li><br>
					<li>Database: SQLite3, MSSQL, MySQL, Mongo DB, Oracle 11g.</li><br>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>HarvardX</h2>
					<p class="subDetails">Computer Science for Web Programming</p>
						<p>CS50's Web Programming with Python and JavaScript. diving more deeply into the design and implementation of web apps with Python, JavaScript, and SQL using frameworks like Flask, Django, and Bootstrap.</p>
						
					<br/><Br/>
				</article>
				
				
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	</div>
</div>

</body>
</html>